@import "../../index.scss";
.auth-form {
  //background: #0288d1;
}
.container {
  background: $blue;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.container nav a {
  color: #fff;
  margin: 0 2rem;
}

@media (min-width: 40rem) {
  .container {
    width: 30%;
    margin-top: 3rem;
    height: 30rem;
    min-width: 25rem;
  }
}
